In [1]:
#importing iris dataset for logistic regression
import pandas as pd
df=pd.read_csv('iris_csv.csv')
df

     sepallength  sepalwidth  petallength  petalwidth           class
0            5.1         3.5          1.4         0.2     Iris-setosa
1            4.9         3.0          1.4         0.2     Iris-setosa
2            4.7         3.2          1.3         0.2     Iris-setosa
3            4.6         3.1          1.5         0.2     Iris-setosa
4            5.0         3.6          1.4         0.2     Iris-setosa
..           ...         ...          ...         ...             ...
145          6.7         3.0          5.2         2.3  Iris-virginica
146          6.3         2.5          5.0         1.9  Iris-virginica
147          6.5         3.0          5.2         2.0  Iris-virginica
148          6.2         3.4          5.4         2.3  Iris-virginica
149          5.9         3.0          5.1         1.8  Iris-virginica

[150 rows x 5 columns]

In [2]:
#Extracting target and features
X=df.drop('class',axis=1)
y=df[['class']]

In [3]:
#Fitting logistic regression
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()
model.fit(X,y)

C:\Users\Admin\anaconda3\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression()

In [4]:
#Storing model in pickle file
import pickle
with open('D:\\web flask\\model.pickle', 'wb') as f:
    pickle.dump(model, f)

In [6]:
#importing weight height dataset for linear regression
df1=pd.read_csv('weight-height.csv')
df1

      Gender     Height      Weight
0       Male  73.847017  241.893563
1       Male  68.781904  162.310473
2       Male  74.110105  212.740856
3       Male  71.730978  220.042470
4       Male  69.881796  206.349801
...      ...        ...         ...
9995  Female  66.172652  136.777454
9996  Female  67.067155  170.867906
9997  Female  63.867992  128.475319
9998  Female  69.034243  163.852461
9999  Female  61.944246  113.649103

[10000 rows x 3 columns]

In [7]:
#Extracting feature and target and fitting linear Regression
X=df1[['Height']]
y=df1[['Weight']]
from sklearn.linear_model import LinearRegression
LiR=LinearRegression()
LiR.fit(X,y)

LinearRegression()

In [8]:
#Storing the model in pickle file
import pickle
with open('D:\\web flask\\lir_model.pickle', 'wb') as f:
    pickle.dump(LiR, f)